.real-guitar-hero {
  display: flex;
}

.real-guitar-hero__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.real-guitar-hero__bpm-input-label {
  display: block;

  color: grey;
}

.real-guitar-hero__bpm-input {
  display: block;
  width: 150px;
  padding: 8px;

  font-size: 24px;
  line-height: 32px;
}

.real-guitar-hero__score {
  font-size: 24px;
  color: #0654C8;
}

.start-game {
  display: block;
  padding: 10px;

  border: none;
  border-radius: 2px;

  background-color: #23F0C7;

  color: #FFF;

  outline: none;
  cursor: pointer;
}

#game-canvas {
  border: 2px solid #00C49E;
}

.audio-wave {
  width: 350px;
  height: 200px;
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
