html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
}

.header__audio-wave {
  position: absolute;
  top: 2px;
  left: 10px;
}

.header__score {
  display: none;
  position: absolute;
  top: 20px;
  right: 40px;

  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  color: #A8DADC;
}

.real-guitar-hero {
  background-color: #1D3557;
}

.real-guitar-hero__header {
  position: absolute;
}

.real-guitar-hero__canvas {
}

.real-guitar-hero__settings {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #F1FAEE;
  text-decoration: none;
}

.game-settings {
  width: 300px;
  height: 100%;

  background-color: #F1FAEE;
}


.game-settings__bpm-input-label {
  display: block;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #1D3557;
  text-decoration: none;
}

.game-settings__bpm-input {
  display: block;
  width: 250px;
  padding: 8px;

  font-size: 24px;
  line-height: 32px;
}

.game-settings__song-select-label,
.game-settings__string-select-label {
  display: block;
  margin-top: 16px;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #1D3557;
  text-decoration: none;
}

.game-settings__song-select,
.game-settings__string-select {
  display: block;
  width: 250px;

  background-color: #FFF;

  font-family: 'Source Sans Pro', sans-serif;
  color: #1D3557;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

.game-settings__restart {
  display: block;
  padding: 16px 8px;
  width: 250px;
  margin-top: 20px;

  border-radius: 2px;

  background-color: #1D3557;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #F1FAEE;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
}

.real-guitar-hero__score {
  font-size: 24px;
  color: #0654C8;
}

.welcome-popup {
  display: none;
  padding: 16px 24px;
  position: absolute;
  width: 700px;
  height: 500px;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -350px;

  border-radius: 4px;

  background-color: #F1FAEE;
}

.welcome-popup--active {
  display: block;
}

.welcome-popup__header {
  margin: 0;
  padding: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #1D3557;
}

.welcome-popup__subheader {
  margin-top: 20px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #1D3557;
}

.welcome-popup__settings {
  margin-top: 20px;
}

.welcome-popup__start-button {
  margin: 50px auto 0;
  display: block;
  width: 300px;
  padding: 10px 25px;

  border: none;
  border-radius: 2px;

  background-color: #23F0C7;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFF;
  letter-spacing: 4px;

  outline: none;
  cursor: pointer;
}

.game-over-popup {
  display: none;
  padding: 16px 24px;
  position: absolute;
  width: 700px;
  height: 500px;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -350px;

  border-radius: 4px;

  background-color: #F1FAEE;
}

.game-over-popup--active {
  display: block;
}

.game-over-popup__header {
  margin: 0;
  padding: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #1D3557;
}

.game-over-popup__subheader {
  margin-top: 20px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #1D3557;
}

.game-over-popup__settings {
  margin-top: 20px;
}

.sharing-buttons {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 20px;

  text-align: center;
}

.sharing-buttons--active {
  display: block;
}

.share-button {
  display: inline-block;
  padding: 20px 30px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #1D3557;
  text-decoration: none;
}

.share-button--fb {
  background-color: #3b5998;
}

.share-button--tw {
  background-color: #4099FF;
}

#game-canvas {
}

.audio-wave {
  width: 60px;
  height: 32px;
}

path {
  stroke: #F1FAEE;
  stroke-width: 1;
  fill: none;
  opacity: 0.5;
}
