html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
}

.header__logo {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.header__audio-wave {
  margin-left: 20px;
}

.header__score {
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;
}

.real-guitar-hero {
  margin: 0 auto;
}

.real-guitar-hero__canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.real-guitar-hero__settings {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.game-settings {
  display: none;
  padding: 40px 16px 16px;
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  border-left: 1px solid #F1F1F1;

  background-color: white;
}

.game-settings--active {
  display: block;
}

.game-settings__close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.game-settings__bpm-input-label {
  display: block;

  color: grey;
}

.game-settings__bpm-input {
  display: block;
  width: 250px;
  padding: 8px;

  font-size: 24px;
  line-height: 32px;
}

.game-settings__song-select-label,
.game-settings__string-select-label {
  display: block;
  margin-top: 16px;

  color: grey;
}

.game-settings__song-select,
.game-settings__string-select {
  display: block;
  width: 250px;

  background-color: #FFF;

  font-size: 18px;
  line-height: 24px;
}

.real-guitar-hero__score {
  font-size: 24px;
  color: #0654C8;
}

.real-guitar-hero__start-button {
  display: block;
  width: 250px;
  margin: 20px auto 0;
  padding: 10px 25px;

  border: none;
  border-radius: 2px;

  background-color: #23F0C7;

  font-size: 18px;
  line-height: 24px;
  color: #FFF;

  outline: none;
  cursor: pointer;
}

#game-canvas {
  border: 2px solid #00C49E;
}

.audio-wave {
  width: 60px;
  height: 32px;
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
